#errorCatcher Echo
## The format to use for the date:
#set $D=" %d"
## The format to use for energy:
#set $Energy="%8.1f"
## The string to use for no value:
#set $NONE="   N/A"
                   MONTHLY POWER CONSUMPTION SUMMARY for $month_name $year_name

NAME: $station.location
ELEV: $station.altitude    LAT: $station.latitude[0]-$station.latitude[1] $station.latitude[2]    LONG: $station.longitude[0]-$station.longitude[1] $station.longitude[2]

                                 ENERGY ($unit.label.ch8_a_energy2.strip())

DAY     CH-1     CH-2     CH-3     CH-4     CH-5     CH-6     CH-7     CH-8
---------------------------------------------------------------------------
#for $day in $month.days
#if $day.ch1_ad_energy2.count.raw
$day.dateTime.format($D) $day.ch1_ad_energy2.sum.nolabel($Energy,$NONE) $day.ch2_ad_energy2.sum.nolabel($Energy,$NONE) $day.ch3_ad_energy2.sum.nolabel($Energy,$NONE) $day.ch4_ad_energy2.sum.nolabel($Energy,$NONE) $day.ch5_ad_energy2.sum.nolabel($Energy,$NONE) $day.ch6_ad_energy2.sum.nolabel($Energy,$NONE) $day.ch7_ad_energy2.sum.nolabel($Energy,$NONE) $day.ch8_ad_energy2.sum.nolabel($Energy,$NONE)
#else
$day.dateTime.format($D)
#end if
#end for
---------------------------------------------------------------------------
    $month.ch1_ad_energy2.sum.nolabel($Energy,$NONE) $month.ch2_ad_energy2.sum.nolabel($Energy,$NONE) $month.ch3_ad_energy2.sum.nolabel($Energy,$NONE) $month.ch4_ad_energy2.sum.nolabel($Energy,$NONE) $month.ch5_ad_energy2.sum.nolabel($Energy,$NONE) $month.ch6_ad_energy2.sum.nolabel($Energy,$NONE) $month.ch7_ad_energy2.sum.nolabel($Energy,$NONE) $month.ch8_ad_energy2.sum.nolabel($Energy,$NONE)

