##
##    Copyright (c) 2021-2022 Tom Keffer <tkeffer@gmail.com>
##
##    See the file LICENSE.txt for your full rights.
##
#errorCatcher Echo
## The format to use for the date:
#set $D=" %d"
## The format to use for energy:
#set $Energy="%8.1f"
## The string to use for no value:
#set $NONE="   N/A"
                                                       MONTHLY POWER CONSUMPTION SUMMARY for $month_name $year_name

NAME: $station.location
ELEV: $station.altitude    LAT: $station.latitude[0]-$station.latitude[1] $station.latitude[2]    LONG: $station.longitude[0]-$station.longitude[1] $station.longitude[2]

                                                                   ENERGY ($unit.label.ch8_ad_energy2.strip())

DAY     CH-1     CH-2     CH-3     CH-4     CH-5     CH-6     CH-7     CH-8     CH-9    CH-10    CH-11    CH-12    CH-13    CH-14    CH-15    CH-16
---------------------------------------------------------------------------------------------------------------------------------------------------
#for $day in $month.days
#if $day.ch1_ad_energy2.count.raw
$day.dateTime.format($D) $day.ch1_a_energy2.diff.nolabel($Energy,$NONE) $day.ch2_a_energy2.diff.nolabel($Energy,$NONE) $day.ch3_a_energy2.diff.nolabel($Energy,$NONE) $day.ch4_a_energy2.diff.nolabel($Energy,$NONE) $day.ch5_a_energy2.diff.nolabel($Energy,$NONE) $day.ch6_a_energy2.diff.nolabel($Energy,$NONE) $day.ch7_a_energy2.diff.nolabel($Energy,$NONE) $day.ch8_a_energy2.diff.nolabel($Energy,$NONE) $day.ch9_a_energy2.diff.nolabel($Energy,$NONE) $day.ch10_a_energy2.diff.nolabel($Energy,$NONE) $day.ch11_a_energy2.diff.nolabel($Energy,$NONE) $day.ch12_a_energy2.diff.nolabel($Energy,$NONE) $day.ch13_a_energy2.diff.nolabel($Energy,$NONE) $day.ch14_a_energy2.diff.nolabel($Energy,$NONE) $day.ch15_a_energy2.diff.nolabel($Energy,$NONE) $day.ch16_a_energy2.diff.nolabel($Energy,$NONE)
#else
$day.dateTime.format($D)
#end if
#end for
---------------------------------------------------------------------------------------------------------------------------------------------------
    $month.ch1_a_energy2.diff.nolabel($Energy,$NONE) $month.ch2_a_energy2.diff.nolabel($Energy,$NONE) $month.ch3_a_energy2.diff.nolabel($Energy,$NONE) $month.ch4_a_energy2.diff.nolabel($Energy,$NONE) $month.ch5_a_energy2.diff.nolabel($Energy,$NONE) $month.ch6_a_energy2.diff.nolabel($Energy,$NONE) $month.ch7_a_energy2.diff.nolabel($Energy,$NONE) $month.ch8_a_energy2.diff.nolabel($Energy,$NONE) $month.ch9_a_energy2.diff.nolabel($Energy,$NONE) $month.ch10_a_energy2.diff.nolabel($Energy,$NONE) $month.ch11_a_energy2.diff.nolabel($Energy,$NONE) $month.ch12_a_energy2.diff.nolabel($Energy,$NONE) $month.ch13_a_energy2.diff.nolabel($Energy,$NONE) $month.ch14_a_energy2.diff.nolabel($Energy,$NONE) $month.ch15_a_energy2.diff.nolabel($Energy,$NONE) $month.ch16_a_energy2.diff.nolabel($Energy,$NONE)

