## Copyright 2009-2022 Tom Keffer
## Distributed under terms of GPLv3.  See LICENSE.txt for your rights.
#errorCatcher Echo
##
#encoding UTF-8
##
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>$station.location Year energy summary</title>
    <link rel="stylesheet" type="text/css" href="weewx.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script type="text/javascript">
      function openURL(urlname)
      {
        window.location=urlname;
      }
    </script>
  </head>

  <body>
    <div id="container">
      <div id="masthead">
        <h1>$station.location</h1>
        <h2>Energy Summary for the Year</h2>
          <h2>$current.dateTime</h2>
      </div>

      <div id="stats_group">

        <div class="stats">
          <div class="stats_header">
            This Year
          </div>

          <table>
            <tbody>
              <tr>
                <td class="stats_label">Channel 1</td>
                <td class="stats_data">$year.ch1_ad_energy2.sum</td>
              </tr>
              <tr>
                <td class="stats_label">Channel 2</td>
                <td class="stats_data">$year.ch2_ad_energy2.sum</td>
              </tr>
              <tr>
                <td class="stats_label">Channel 3</td>
                <td class="stats_data">$year.ch3_ad_energy2.sum</td>
              </tr>
              <tr>
                <td class="stats_label">Channel 4</td>
                <td class="stats_data">$year.ch4_ad_energy2.sum</td>
              </tr>
              <tr>
                <td class="stats_label">Channel 5</td>
                <td class="stats_data">$year.ch5_ad_energy2.sum</td>
              </tr>
              <tr>
                <td class="stats_label">Channel 6</td>
                <td class="stats_data">$year.ch6_ad_energy2.sum</td>
              </tr>
              <tr>
                <td class="stats_label">Channel 7</td>
                <td class="stats_data">$year.ch7_ad_energy2.sum</td>
              </tr>
              <tr>
                <td class="stats_label">Channel 8</td>
                <td class="stats_data">$year.ch8_ad_energy2.sum</td>
              </tr>
            </tbody>
          </table>

        </div> <!-- End class "stats" -->

      </div> <!-- End class "stats_group" -->

      <div id="content">
        
        <div class="header">
          <h3>Yearly Statistics and Plots</h3>
        </div>
        <div id="plots">
          <img src="year_ch1_power.png"    alt="Channel 1" />
          <img src="year_ch2_power.png"    alt="Channel 2" />
          <img src="year_ch3_power.png"    alt="Channel 3" />
          <img src="year_ch4_power.png"    alt="Channel 4" />
          <img src="year_ch5_power.png"    alt="Channel 5" />
          <img src="year_ch6_power.png"    alt="Channel 6" />
          <img src="year_ch7_power.png"    alt="Channel 7" />
          <img src="year_ch8_power.png"    alt="Channel 8" />
        </div>
      </div> <!-- End id "content" -->

      <div id="navbar">
        <input type="button" value="   Current   " onclick="openURL('index.html')" />
        <input type="button" value="    Week     " onclick="openURL('week.html')" />
        <input type="button" value="    Month    " onclick="openURL('month.html')" />
        <input type="button" value="    Year     " onclick="openURL('year.html')" />
      </div>
    </div> <!-- End id "container" -->

  </body>
</html>
